@import '~bootstrap/scss/bootstrap';

#authenticated {
  display: none;
}

#unauthenticated {
  border: 1px solid black;
  margin: 50px auto;
  padding: 20px auto;
  width: 50%;
}

#message {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 40px;
}

.box {
  border: 1px solid #988198;
  height: 10rem;
  width: 10rem;
  text-align: center;
  font-size: 30px;

  &:hover {
    background-color: #B1C856;
  }
}
