@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  background-color: black;
}

.form-control {
  margin: 10px auto;
}

#sign-in {
  margin: 30px auto;
}

#authenticated {
  display: none;
}

#unauthenticated {
  margin: 50px auto;
  padding: 20px auto;
  width: 50%;
}

#message {
  color: white;
  text-align: center;
}

#content {
  color: white;
}

p {
  color: white;
}

h1 {
  font-family: Quicksand, sans serif;
  color: white;
  text-align: center;
  margin: 40px;
}

.box {
  color: white;
  background-color: black;
  border: 1px solid #988198;
  height: 10rem;
  width: 10rem;
  text-align: center;
  font-size: 30px;

  &:hover {
    background-color: #B1C856;
  }
}

input, textarea {
  color: purple;
}

#score-board {
  color: white;
}
