@import '~bootstrap/scss/bootstrap';

#authenticated {
  display: none;
}

h1 {
  text-align: center;
}

.box {
  border: 1px solid #988198;
  height: 10rem;
  width: 10rem;

  &:hover {
    background-color: #B1C856;
  }
}
